* {
    -fx-text-fill: #ECDFCC;
    -fx-spacing: 5;
}

.root /* changing root nodes  */
{
    -fx-background-color: #1E201E;
}
.vbox
{
    -fx-background-color: #3C3D37;
    -fx-fill: #3C3D37;
    -fx-background-radius: 20;
}

.scroll-pane
{
    -fx-background-color: #3C3D37;
    -fx-fill: #3C3D37;
    -fx-background-radius: 20;

}

.scroll-pane .viewport {
    -fx-background-color: transparent; /* Make the viewport background transparent */
}

.button
{
    -fx-background-color: #697565;
    -fx-background-radius: 10;

}