#promptLabel {
    -fx-font-size: 25;
}

#signUpLabel{
    -fx-font-size: 15;
}

.scroll-pane {
    -fx-background-color: #3C3D37;
    -fx-fill: #3C3D37;
    -fx-background-radius: 20;
    -fx-padding: 10;
}
.scroll-pane .viewport {
    -fx-background-color: transparent; /* Make the viewport background transparent */
}

